.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: var(--system-header-background);
    border-bottom: 1px solid var(--system-header-border-color);
    border-top: 1px solid var(--system-header-border-color);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);

    .handle {
        min-width: 95px;
        height: 100%;
        display: flex;
        align-items: center;

        .el-dropdown-link {
            margin-top: 5px;
            border-left: 1px solid var(--system-header-border-color);
            height: 25px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            color: var(--system-header-text-color);
        }
    }
}

.scroll-container {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;

    :deep(.el-scrollbar__bar) {
        bottom: 0px;
    }

    :deep(.el-scrollbar__wrap) {
        height: 49px;
    }
}

.tags-view-container {
    height: 34px;
    flex: 1;
    width: 100%;
    display: flex;
}

.el-icon-full-screen {
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, .025);
    }

    &:focus {
        outline: none;
    }
}

.tab-ddropdown-item {
    display: flex;
    align-items: center;
}

// items 
.tags-view-item {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    border: 1px solid var(--system-header-border-color);
    color: var(--system-header-text-color);
    background: var(--system-header-tab-background);
    padding: 0 8px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 2px;

    a {
        color: var(--system-header-text-color);
        height: 26px;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }

    .el-icon-refresh-right {
        display: inline-block;
        margin-right: 5px;
    }

    .el-icon-close {
        display: inline-block;
        height: 26px;
    }

    &:first-of-type {
        margin-left: 15px;
    }

    &:last-of-type {
        margin-right: 15px;
    }

    &.active {
        background: var(--system-primary-color);
        border-color: var(--system-primary-color);
        color: var(--system-primary-text-color);

        a {
            color: var(--system-primary-text-color);
        }

        &:hover {
            background: var(--system-primary-color);
        }
    }

    &:hover {
        background-color: var(--system-header-item-hover-color);
    }
}