.system-table-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 270px);

    .system-table {
        flex: 1;
        height: 100%;
    }

    .system-page {
        margin-top: 20px;
    }
}