.layout-sidebar-wrapper {
    width: 100%;
    height: 100%;
    background-color: #304156;
    .el-menu {
      border-right: 0;
    }
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }