.el-header {
    padding-left: 0;
    padding-right: 0;
}

.el-aside {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    overflow-x: hidden;
    transition: 0.3s;

    &::-webkit-scrollbar {
        width: 0 !important;
    }
}

.el-main {
    background-color: var(--system-container-background);
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}

:deep(.el-main-box) {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .el-aside {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1000;

        &.hide-aside {
            left: -250px;
        }
    }

    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background: rgba(0, 0, 0, 0.5);
    }
}